################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
__pycache__/
/Entries/config.ini
/Entries/money_maker.log
/Entries/trader_client.log
